[submodule "bundle-available/jellybeans.vim"]
	path = bundle-available/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle-available/vim-powerline"]
	path = bundle-available/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "bundle-available/tcomment_vim"]
	path = bundle-available/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "bundle-available/vim-surround"]
	path = bundle-available/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle-available/nginx.vim"]
	path = bundle-available/nginx.vim
	url = https://github.com/mutewinter/nginx.vim
[submodule "bundle-available/vim-easymotion"]
	path = bundle-available/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle-available/nerdtree"]
	path = bundle-available/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle-available/vim-distinguished"]
	path = bundle-available/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished
[submodule "bundle-available/command-t"]
	path = bundle-available/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle-available/bind.vim"]
	path = bundle-available/bind.vim
	url = https://github.com/seveas/bind.vim
[submodule "bundle-available/vim-markdown"]
	path = bundle-available/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
