[submodule "bundle-available/jellybeans.vim"]
	path = bundle-available/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle-available/vim-powerline"]
	path = bundle-available/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
